<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'follow app' %}">Follow app</a>
        <a class="navbar-brand" href="{% url 'VesselList' %}">Vessels</a>
        <a class="navbar-brand" href="{% url 'vessels to load' %}">Vessels To Load</a>
        <a class="navbar-brand" href="{% url 'expected arrivals' %}">Expected Arrivals</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>