{% extends 'father.html' %}
{% block contenidoQueCambia %}

<h1>Vessel Detailed View</h1>

{% if request.GET.mensaje %}
<h3>{{ request.GET.mensaje }}</h3>
{% endif %}


<p><strong>MV:</strong> {{ vessel }}</p>

     <strong>Loading Port:</strong> 
     <ul>
        {% for port_info in loading_date_list %}
        <li> {{ port_info.Port_name }} <br>
            <ul>
                {% for key, value in port_info.items %}
                    {% if key != 'Port_name' and value %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
     </ul>
         
     <strong>Discharge Port:</strong> 
     <ul>
        {% for port_info in discharge_date_list %}
        <li> {{ port_info.Port_name }} <br>
            <ul>
                {% for key, value in port_info.items %}
                    {% if key != 'Port_name' and value %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
     </ul>

     <strong>Assigned Agent:</strong> 
     <ul>
        {% for agent_info in assigned_agent %}
        <li> {{ agent_info.Agent_name }} <br>
            <p>
            {{ agent_info.Agent_info }}
            </p>
        </li>
        {% endfor %}
     </ul>

    <strong>Vessel Description:</strong>
    
    <p>IMO:{{ vessel.vessel_imo }}</p>
    <p>{{vessel.vessel_information}}</p>

    
    <a class="btn btn-primary" href="{% url 'VesselUpdate' vessel.id %}">Edit</a>
    <a class="btn btn-primary" href="{% url 'VesselDelete' vessel.id %}">Delete</a>
    
    

{% endblock contenidoQueCambia %}


{% comment %}
<form action="{% url 'VesselDelete' vessel.id %}" method="post"> {% csrf_token %}

    <button class="btn btn-primary" type = "submit"> Delete</button>
   
</form>
{% endcomment %}